${project.name}
===============
  
${project.description}

[![Circle CI](https://circleci.com/gh/ActiveStack/active-parent/tree/master.svg?style=svg)](https://circleci.com/gh/ActiveStack/active-parent/tree/master)

misc notes:

* Maven Wrapper:      
   Normally you instruct users to run the mvn command like the following:
  
        $ mvn clean package
     But now, with a Maven Wrapper setup, you can instruct users to run wrapper scripts:
  
         $ ./mvnw clean package
     or
  
         $ ./mvnw.cmd clean package
     A normal Maven build will be executed with the one important change that if the user doesn't have the necessary 
     version of Maven specified in `.mvn/wrapper/maven-wrapper.properties` it will be downloaded for the user first.     
     
     (Note: Initial maven-wrapper files were setup as per: [maven-wrapper](https://github.com/takari/maven-wrapper),
      using: `mvn -N io.takari:maven:wrapper`.)

* Publishing:
  
    To deploy to maven central, follow the steps described here: [http://central.sonatype.org/pages/apache-maven.html](http://central.sonatype.org/pages/apache-maven.html)
    
    You will need at least the following configuration in your `.m2/settings.xml` file:
    
        <server>
            <id>ossrh</id>
            <username>your-jira-id</username>
            <password>your-jira-pwd</password>
        </server>
        
